asn1crypto==0.24.0
astroid==1.6.0
attrs==17.4.0
Automat==0.6.0
autopep8==1.4.3
beautifulsoup4==4.6.3
bleach==2.1.3
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
decorator==4.2.1
Django==2.0.2
django-filter==2.2.0
djangorestframework==3.11.0
ecdsa==0.13
entrypoints==0.2.3
et-xmlfile==1.0.1
fpdf==1.7.2
gspread==3.1.0
html5lib==1.0.1
httplib2==0.12.3
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
isort==4.2.15
jdcal==1.4
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.1.1
Markdown==3.2.1
MarkupSafe==1.0
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.3
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.4.1
nose==1.3.7
notebook==5.4.1
numpy==1.16.3
oauth2client==4.1.3
opencv-python==4.1.0
openpyxl==2.5.12
pandas==0.24.2
pandocfilters==1.4.2
parsel==1.3.1
parso==0.1.1
pickleshare==0.7.4
Pillow==5.0.0
pipenv==2018.5.18
prompt-toolkit==1.0.15
protobuf==3.1.0
proxycrawl==1.1.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAutoGUI==0.9.36
pycodestyle==2.4.0
pycoin==0.80
pycparser==2.18
PyDispatcher==2.0.5
pydot==1.4.1
Pygments==2.2.0
pylint==1.8.1
PyMsgBox==1.0.6
PyMySQL==0.9.3
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyPDF2==1.26.0
pypng==0.0.19
PyQRCode==1.2.1
PyScreeze==0.1.14
python-dateutil==2.7.0
PyTweening==1.0.3
pytz==2018.3
pywinpty==0.5.1
pyzmq==17.0.0
qrtools==0.0.2
qtconsole==4.3.1
queuelib==1.4.2
requests==2.20.1
rsa==4.0
scikit-learn==0.20.3
scipy==1.2.1
Scrapy==1.5.0
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
sympy==1.1.1
tensorflow==0.12.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.1
traitlets==4.3.2
Twisted==17.9.0
urllib3==1.24.1
virtualenv==16.5.0
virtualenv-clone==0.3.0
w3lib==1.18.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
wrapt==1.10.11
zope.interface==4.4.3
